@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2? family = Sriracha & display = swap');


:root {
     --fonte1: Verdana, Geneva, Thahoma, sans-serf;
     --fonte2: 'Passion One', cursive;
     --fonte3: 'Sriracha', cursive;
}
/*Configurações gerais*/
/*para resetar todos os nossos elementos*/
*{
   margin: 0px;
   padding: 0px; 
}

html, body{
    min-height: 100vh;  /* tamanho máximo de 100% da minha altura view port*/
    background-color: dark;  
    font-family: var(--fonte1);  
}
header{
    background-color: black;
    color: white;
    text-align: center;
}
header > h1{
  padding-top: 50px;
  /* text-transform: uppercase;  todas as letras em maiusculo*/
  font-variant: small-caps ;
  font-family: var(--fonte2);
  font-size: 10vw;
}
header > p{
    padding-top: 50px;   
}

header a, footer a{
    color: yellowgreen;
    text-decoration: none;
    font-weight: bolder;

}
header a:hover, footer a:hover{
    text-decoration: underline;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 6vw;
}

section.normal{
    background-color: white;
    color: black;
}
section > p {
    padding: 2em;
}

section#img01 {
   background-image: url("../imagens/background001.jpg") ;
   background-position: right center;

}
section#img02 {
    background-image: url("../imagens/background002.jpg") ; 
 }
section.imagem{
    background-color: rgb(51,51,51);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    background-size: cover;
    background-attachment: fixed;

}
section.imagem > p{
   /* width: 400px; */
   display: inline-block;
    background-color: rgba(0, 0, 0, 0.514);  
    padding: 5px;
    text-shadow: 1px 1px 0px black ;
}


footer{
   background-color: black;
   color: white;
   text-align: center;
   padding: 10px;

}
